// colors

//font colors
$color-main: #555555; // main text color(mid grey)
$color-content-title: #488fe1; //content page's title (darker grey)
$color-content-subtitle: #333;
$color-title: #114f72; // slightly dark blue
$color-title1: #F6A623; // skyblue
$color-nav: rgba(229, 229, 229, 1); // light grey
$color-white: #fff; // white

// fonts
$primary-font: 'Roboto', 'Open Sans', helvetica, 'helvetica neue', 'Microsoft YaHei', "微软雅黑",  'Arial,sans-serif';

//background color
$bgcolor-body: #ffffff; //white
$bgcolor-highlighted-1: #eee;
$bgcolor-footer: #999085; // dark grey
$bgcolor-copyright: #f7f7f7; //light grey
$bgcolor-section-1: rgba(239, 239, 239, 1); // light grey
//$bogcolor-footer: #114F72 //blue
