.content-page-head {
  height: 40%;
  min-height: 200px;
  margin-top: 80px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
  /*align-items: center;*/ }
  .content-page-head .home-main-text {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
    /*@include transform(translateX(-50%) translateY(100%));*/
    margin-top: 20%;
    text-transform: uppercase;
    text-align: right;
    color: #114f72; }
  .content-page-head .scroll-down {
    position: absolute;
    bottom: 0px; }
  .content-page-head h2 {
    /*background-color: #111;
    opacity: 0.5;
    padding: 10px 20px 10px 5px;
    border-radius: 6px;
    */
    color: #333;
    text-align: right;
    text-transform: capitalize;
    font-size: 42px;
    font-size: 2.625rem;
    line-height: 2.8rem; }
    @media (min-width: 768px) {
      .content-page-head h2 {
        max-width: 60%;
        margin: auto 3%; } }
    @media (min-width: 992px) {
      .content-page-head h2 {
        max-width: 50%;
        margin: auto 5%; } }
    @media (min-width: 1200px) {
      .content-page-head h2 {
        max-width: 40%;
        margin: auto 5%; } }
    @media (max-width: 767px) {
      .content-page-head h2 {
        max-width: 100%;
        margin: auto 1%; } }
    .content-page-head h2 .sub, .content-page-head h2 .sub1 {
      display: block;
      margin: 10px 0 20px;
      font-size: 28px;
      font-size: 1.75rem;
      line-height: 2rem; }
    .content-page-head h2 .sub1 {
      font-size: 20px;
      font-size: 1.25rem; }

.content-page-head.right {
  justify-content: flex-end; }

.content-page-head.left {
  justify-content: flex-start; }

.content-page-head h2.reverse {
  color: #F6A623; }
  .content-page-head h2.reverse .sub, .content-page-head h2.reverse .sub1, .content-page-head h2.reverse sub1 {
    color: #fff; }

.content-page-wrapper .page-main-description {
  font-size: 20px;
  font-size: 1.25rem;
  /*margin: 10px 0;*/ }

.content-page-head.gcgchina {
  background: url("../Images/GCGChina/GCGChinaB2B.jpg") no-repeat top center fixed; }

section .wordings {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 20px; }

section .full-video {
  width: 100% !important; }

section ul.list-unstyled {
  padding-left: 20px; }

/** About us*/
.content-page-head.aboutus {
  background: url("../Images/About us/banner.jpg") no-repeat top center fixed; }

.video-mask {
  background-image: url("../../Images/play.png");
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: contain;
  background-position: center; }

/**End about us*/
/** Member (Management page) ***/
.content-page-head.management {
  background: url("../Images/Team/banner.jpg") no-repeat top center fixed; }

.members-page {
  font-size: 20px;
  font-size: 1.25rem; }
  .members-page .member_image {
    width: 200px;
    height: 200px;
    border-radius: 50%; }
  .members-page .row {
    margin: 10px 0px;
    padding: 20px; }
  .members-page .row:nth-child(2n) {
    background: #eee;
    border-radius: 20px; }
  .members-page h2 {
    padding: 0;
    margin: 0;
    color: #114f72;
    font-size: 36px;
    font-size: 2.25rem; }
  .members-page h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 20px; }
  .members-page h4 {
    font-size: 24px;
    font-size: 1.5rem; }
  .members-page p {
    font-size: 18px;
    font-size: 1.125rem; }

/** End - Member (Management page) ***/
/** Finance page ***/
.content-page-head.fs {
  background: no-repeat top center fixed; }

.content-page-head.fs.home {
  background-image: url("../Images/Financial Service/banner.jpg");
  width: 100%; }

.content-page-head.fs.purchase {
  background-image: url("../Images/Financial Service/financial2.jpg");
  width: 100%; }

.content-page-head.fs.ecommerce {
  background-image: url("../Images/Financial Service/financial1.jpg");
  width: 100%; }

.content-page-head.fs.mf {
  background-image: url("../Images/Financial Service/financial3.jpg");
  width: 100%; }

.content-page-head.fs.ar {
  background-image: url("../Images/Financial Service/ar-banner.jpg");
  width: 100%; }

.content-page-head.fs.cc {
  background-image: url("../Images/Financial Service/financial4.jpg");
  width: 100%; }

.content-page-head.fs.jointventure {
  background-image: url("../Images/Financial Service/financial6.jpg");
  width: 100%; }

.finance-page .finance-page-content {
  line-height: 1.8rem;
  /**Ecommerce***/
  /**Virtual payment***/
  /**** AR *****/ }
  .finance-page .finance-page-content div {
    margin-bottom: 20px; }
  .finance-page .finance-page-content .row {
    margin: 2rem 0; }
  .finance-page .finance-page-content a {
    color: #114f72; }
  .finance-page .finance-page-content a:hover {
    text-decoration: none; }
  .finance-page .finance-page-content h3.heading-sm {
    font-size: 20px;
    font-size: 1.25rem; }
  .finance-page .finance-page-content .text-box {
    width: 90%;
    height: 150px;
    margin: auto; }
    .finance-page .finance-page-content .text-box img {
      width: 100%;
      height: 100%; }
    .finance-page .finance-page-content .text-box span {
      padding: 20px;
      display: block;
      color: #fff; }
  .finance-page .finance-page-content .color-blue {
    background: #F6A623; }
  .finance-page .finance-page-content .color-orange {
    background: #e77d03; }
  .finance-page .finance-page-content ul.list-unstyled-withicon {
    margin-top: 30px;
    /*li:nth-child(n)::before {
        content: "";
        background: url("../Images/Financial Service/icon{$n}.png") no-repeat center;
        width: 100px;
        height: 100px;
        display: block;
      }*/ }
    .finance-page .finance-page-content ul.list-unstyled-withicon li {
      display: inline-block;
      width: 19%;
      min-height: 200px;
      vertical-align: middle;
      text-align: center;
      text-transform: capitalize;
      color: #F6A623; }
      @media (max-width: 767px) {
        .finance-page .finance-page-content ul.list-unstyled-withicon li {
          width: 49%; } }
      @media (min-width: 992px) {
        .finance-page .finance-page-content ul.list-unstyled-withicon li {
          width: 19%; } }
    .finance-page .finance-page-content ul.list-unstyled-withicon li:nth-child(1)::before {
      content: "";
      text-align: center;
      background: url("../Images/Financial Service/jvicon1.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      display: block; }
    .finance-page .finance-page-content ul.list-unstyled-withicon li:nth-child(2)::before {
      content: "";
      text-align: center;
      background: url("../Images/Financial Service/jvicon2.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      display: block; }
    .finance-page .finance-page-content ul.list-unstyled-withicon li:nth-child(3)::before {
      content: "";
      text-align: center;
      background: url("../Images/Financial Service/jvicon3.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      display: block; }
    .finance-page .finance-page-content ul.list-unstyled-withicon li:nth-child(4)::before {
      content: "";
      text-align: center;
      background: url("../Images/Financial Service/jvicon4.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      display: block; }
    .finance-page .finance-page-content ul.list-unstyled-withicon li:nth-child(5)::before {
      content: "";
      text-align: center;
      background: url("../Images/Financial Service/jvicon5.png") no-repeat center;
      background-size: contain;
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      display: block; }
  .finance-page .finance-page-content ul.ec-coloredbg {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .finance-page .finance-page-content ul.ec-coloredbg li {
      min-height: 120px;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #114f72;
      display: flex;
      padding: 0 20px;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .finance-page .finance-page-content ul.ec-coloredbg li {
          width: 49%; } }
      @media (min-width: 992px) {
        .finance-page .finance-page-content ul.ec-coloredbg li {
          width: 23%; } }
      @media (max-width: 767px) {
        .finance-page .finance-page-content ul.ec-coloredbg li {
          width: 85%; } }
    .finance-page .finance-page-content ul.ec-coloredbg li:nth-child(1) {
      background-color: #7ad0e5; }
    .finance-page .finance-page-content ul.ec-coloredbg li:nth-child(2) {
      background-color: #aed9d7; }
    .finance-page .finance-page-content ul.ec-coloredbg li:nth-child(3) {
      background-color: #e1e2cc; }
    .finance-page .finance-page-content ul.ec-coloredbg li:nth-child(4) {
      background-color: #eb8a40; }
  @media (min-width: 768px) {
    .finance-page .finance-page-content .cc-text {
      /*margin-top: 20px;*/ } }
  @media (min-width: 992px) {
    .finance-page .finance-page-content .cc-text {
      /*margin-top: 60px;*/ } }
  .finance-page .finance-page-content .cc-image img {
    width: 100%; }
  .finance-page .finance-page-content .image-display {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap; }
    .finance-page .finance-page-content .image-display .ar-box {
      border: 1px solid #F6A623;
      padding: 10px; }
      @media (max-width: 767px) {
        .finance-page .finance-page-content .image-display .ar-box {
          width: 100%; } }
      @media (min-width: 768px) {
        .finance-page .finance-page-content .image-display .ar-box {
          width: 44%; } }
      .finance-page .finance-page-content .image-display .ar-box img {
        width: 100%; }
    .finance-page .finance-page-content .image-display .ar-plus {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 767px) {
        .finance-page .finance-page-content .image-display .ar-plus {
          height: 20%; } }
      @media (min-width: 768px) {
        .finance-page .finance-page-content .image-display .ar-plus {
          width: 10%; } }
      .finance-page .finance-page-content .image-display .ar-plus img {
        vertical-align: middle; }
        @media (max-width: 767px) {
          .finance-page .finance-page-content .image-display .ar-plus img {
            width: 25%; } }
        @media (min-width: 768px) {
          .finance-page .finance-page-content .image-display .ar-plus img {
            width: 50%;
            height: 25%; } }

/** End - Finance page ***/
/** Contact ***/
.content-page-head.contact {
  background: url("../Images/About us/banner.jpg") no-repeat top center fixed; }

.contact {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 30px 0; }
  .contact #map {
    min-height: 450px; }

/** End - Contact ***/
