@charset "UTF-8";
html {
  font-size: 16px;
  font-size: 1rem; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 100%;
  font-family: "Roboto", "Open Sans", helvetica, "helvetica neue", "Microsoft YaHei", "微软雅黑", "Arial,sans-serif";
  color: #555555;
  background-color: #ffffff; }

body, html {
  height: 100%; }

a {
  color: #555555; }

.header {
  background-color: #bb0000;
  color: white; }
  .header .cn-sub {
    font-size: 16px;
    font-size: 1rem;
    padding: 10px 0;
    display: block; }
  .header .navbar-light .navbar-toggler {
    margin-top: 20px; }
  .header .header-menu {
    justify-content: space-between; }
    .header .header-menu ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block; }
    .header .header-menu .page-menu {
      flex: 1 0 auto; }
    .header .header-menu .headlogo {
      width: 60px;
      height: 70px;
      margin-top: 8px; }
  .header .navbar {
    padding: 0px; }
  .header .nav-item {
    margin-right: 30px;
    text-transform: uppercase; }
  .header .nav-item:hover {
    background-color: black; }
  .header .navbar-light .navbar-nav .nav-link {
    color: white; }

.body-section {
  text-align: justify;
  clear: both; }

footer {
  background-color: #999085;
  color: #fff;
  margin-top: 30px;
  padding-top: 20px; }
  footer #contact img#logofooter {
    width: 150px; }
  footer .social-media {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Facebook */
    /* Twitter */ }
    footer .social-media .fa {
      padding: 10px;
      font-size: 30px;
      width: 50px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      margin: 0 10px; }
    footer .social-media .fa:hover {
      color: inherit; }
    footer .social-media .fa-facebook {
      background: #3B5998;
      color: white; }
      footer .social-media .fa-facebook:hover {
        background-color: #4970c1; }
    footer .social-media .fa-twitter {
      background: #5a99c9; }
      footer .social-media .fa-twitter:hover {
        background-color: #70bef9; }
    footer .social-media .fa-youtube {
      background-color: #bb0000; }
      footer .social-media .fa-youtube:hover {
        background-color: #e50000; }
    footer .social-media .fa-rss {
      background-color: #ff6600; }
      footer .social-media .fa-rss:hover {
        background-color: #ff8c00; }
    footer .social-media .fa-linkedin {
      background-color: #007bb5; }
      footer .social-media .fa-linkedin:hover {
        background-color: #0091d6; }
  footer .copyright {
    padding-top: 20px; }
  footer #policy {
    color: #555555; }
  footer a {
    color: #fff; }

/***Navigation & Bootstrap over-riding**/
@media (min-width: 768px) {
  .container {
    padding-right: 1px;
    padding-left: 1px; } }

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; } }

/***End - Navigation - Bootstrap over-riding**/
