@import '../base/_constants.scss';
@import '../base/_mixins.scss';

.body-section {
  @include font-size(18px);
}

.side-2 {
  @include font-size(16px);

  ul.list {
    padding-left:5px;
    list-style:none;
    .sublist{
      @include font-size(14px);
      padding-left:25px;
    }
  }
  ul.tags{
    padding-left:25px;
    li{
      text-transform:capitalize;
    }
  }
}

.center-2 {
  .blog-page {
    .page-title {
      background-color: $bgcolor-footer;
      color: $color-white;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 2px 5px;

      h1 {
        @include font-size(24px);
      }

      a.link-rss {
        color: $color-white;
      }
    }

    .blog-posts {
      a.post-title {
        color: $color-title;
      }

      .post-date {
        font-style: italic;
        color: $color-main;
      }
    }

    .pager {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline;
          border: 1px #ddd solid;
          padding: 3px 0px;

          a {
            padding: 7px 13px;
          }

          a:hover {
            background-color: $bgcolor-footer;
            color: $color-white;
          }
        }

        li.current-page {
          padding: 7px 15px;
        }
      }
    }
  }
}

.page-image {
  color: $color-white;
  background: url("../../Images/Home/GCGChinaB2B/boat.jpg") no-repeat top center fixed;
  background-color: rebeccapurple;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .home-main-text {
    @include font-size(48px);
    padding: 90px 0px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    background-color: rgba(0,0,0,0.4);
  }
}

.about-us {
  @include font-size(22px);
  padding-bottom: 40px;
  padding-top: 40px;
}
/*** China section*/
.gcg-china {
  display: flex;
  flex-direction: column;
  @include font-size(22px);

  .beef, .pork, .chicken, .nuts, .beer, .oil {
    padding: 30px 0;
    margin-top: 20px;

    .container {
      display: flex;
      flex-grow: 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      @include breakpoint(xs) {
        justify-content: space-around;
      }

      h3 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
        @include font-size(48px);
      }

      img.full-width {
        width: 100%;
      }

      .item {
        margin-bottom: 20px;
        padding: 0 10px;

        img {
          width: 100%;
        }

        @include breakpoint(sm) {
          flex: 0 1 50%;
        }

        @include breakpoint(xs) {
          flex: 0 1 90%;
        }

        .other-chicken {
          width: 300px;
          height: 300px;
          background-color: yellow;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @include font-size(28px);
        }
      }

      .item.full {
        flex: 1 1 100%;
      }

      .real-images {
        justify-content: space-around;

        .image-wrapper {
          flex: 0 0 15%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .beef, .chicken, .light-background {
    background: $color-nav;
  }

  .oil {
    .container {
      .item {
        flex: 0 0 20%;

        .oil-caption {
          text-align: center;
        }
      }
    }
  }
}

/*** Contact Section*/
#contact {
  background-color: $bgcolor-section-1;
  padding: 20px 0;
  @include font-size(14px);

  #map {
    height: 300px;
    width: 100%;
  }
}
