//@import '../bourbon/bourbon';
//@import '../font-awesome/font-awesome.scss';
@import "../base/_constants.scss";
@import "../base/_mixins.scss";

.body-section {
    @include font-size(22px);

    .eng-sub {
        @include font-size(16px);

        padding: 10px 0;
        display: block;
    }
}

.page-image {
    color: $color-white;
    background: url("../img/home.jpg") no-repeat top center;
    background-color: rebeccapurple;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    .home-main-text {
        @include font-size(48px);

        padding: 200px 0px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.about-us {
    @include font-size(22px);

    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #cfcc8a;

    .real-images {
        justify-content: space-around;
margin:10px 0px;
        .image-wrapper {
            flex: 0 0 15%;

            img {
                width: 100%;
            }
        }
    }
}

/*** China section  aaa123*/
.beef-intro {
    display: flex;
    flex-direction: column;

    @include font-size(18px);

    img.full-width {
        width: 100%;
    }

    .beef1, .beef10, .beef2 {
        padding: 0px;

        .container {
            display: flex;
            flex-grow: 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;

            @include breakpoint(xs) {
                justify-content: space-around;
            }


            h3 {
                flex-basis: 100%;
                text-align: center;
                margin-bottom: 20px;

                @include font-size(48px);
            }

            .item {
                margin-bottom: 20px;
                padding: 0 10px;

                img {
                    width: 100%;
                }
            }

            .item.full {
                flex: 1 1 100%;
            }
        }
    }
}

/*** Contact Section*/
#contact {
    padding: 20px 0;

    @include font-size(14px);
}
